.project-content {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  background-color: #97cba9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body {
  background-color: #fffafa;
}
h1 {
  text-align: center;
}
select {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  border-radius: 7px;
}

h2 {
  margin: 0 0 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed grey;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 45px;
  font-weight: bold;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}
footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
